spring:
  datasource:
    url: jdbc:mysql://localhost:3306/main?autoReconnect=true&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none

server:
  port: 8080